/* font import from my github */
@font-face {
    font-family: 'Helvetica Neue Roman';
    src: url('https://raw.githubusercontent.com/lokakrp/fonts/main/helvetica%20neue/HelveticaNeueRoman.otf') format('opentype');
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('https://raw.githubusercontent.com/lokakrp/fonts/main/helvetica%20neue/HelveticaNeue.ttf') format('opentype');
}

/* base styling for the entire document */
body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue Roman", Helvetica, Arial, sans-serif;/* Font for the entire document */
    background-color: #fffff0; 
    height: 100vh; 
    font-size: 20px; 
}

/* container to center content */
.center-container {
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    flex-direction: column; 
    padding-top: 20px; 
}

/* styling for the centered box */
.centered-box {
    width: 45%; 
    margin: 0 auto; 
    padding: 20px; 
    text-align: left; 
}

/* heading styling for h2 and h3 */
h2, h3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-weight: bold; 
    font-size: 700px;
    color: #525050; 
    text-align: left; 
    margin-bottom: 10px;
}

/* styling for unordered lists */
ul {
    list-style-type: none; 
    padding: 0;
}

li {
    margin-bottom: 8px; 
}

/* Link styling */
a {
    text-decoration: none; 
    color: #0066cc; 
    transition: all 0.3s; 
}

a:hover {
    text-decoration: underline; 
    color: #4e51ee; 
}

.linguistics {
    margin-top: 30px;
}
