/* custom fonts from my GitHub */
@font-face {
    font-family: 'Helvetica Neue Roman';
    src: url('https://raw.githubusercontent.com/lokakrp/fonts/main/helvetica%20neue/HelveticaNeueRoman.otf') format('opentype');
}

@font-face {
    font-family: 'Helvetica Neue Black';
    src: url('https://raw.githubusercontent.com/lokakrp/fonts/main/helvetica%20neue/HelveticaNeueBlack.otf') format('opentype');
}

/* body styling */
body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue Roman', Helvetica, Arial, sans-serif;
    background-color: #fffff0;
    height: 100vh;
    font-size: 20px;
}

/* margin-based centering */
.center-container {
    width: 100%;
    padding-top: 20px;
}

.centered-box {
    width: 45%;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}

/* heading styles with 'Helvetica Neue Black' font weight */
h2 {
    font-family: 'Helvetica Neue Black', Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-align: left;
    margin: 0px 0;
    color: #525050;
}

/* paragraph styling */
p {
    text-align: left;
    font-family: 'Helvetica Neue Roman', Helvetica, Arial, sans-serif;
    line-height: 1.5;
    margin: 10px 0;
    margin-bottom: 40px;
    color: #5a5a55;
}

/* link styles with hover effect */
a {
    text-decoration: none;
    color: #0066cc;
    transition: all 0.3s;
}

    a:hover {
        text-decoration: underline;
        color: #4e51ee;
    }
