/* font import from my github */
@font-face {
    font-family: 'Helvetica Neue Roman';
    src: url('https://raw.githubusercontent.com/lokakrp/fonts/main/helvetica%20neue/HelveticaNeueRoman.otf') format('opentype');
}

/* reset for body margin and padding */
body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #fffff0;
    text-align: center;
}

/* title styling with Helvetica Neue Black */
h1 {
    font-size: 45px;
    font-weight: 590;
    margin-top: 200px;
    color: #333;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* image styling */
.center-image {
    width: 300px;
    height: auto;
    margin-top: 20px;
}

/* hides audio controls */
audio {
    display: none; 
}

/* additional styling for the timer */
#uk-time {
    margin-top: 10px;
    margin-bottom: 12px; 
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #333; 
}

/* navlinks styles */

.nav-links {
    margin-top: 20px;
    display: inline-block;
    padding: 10px;
    transition: color 0.3s;
    font-family: 'Helvetica Neue'
}

a:link {
color: #76a4be;
}

a:visited {
color: #76a4be;
}

a:hover {
color: #7eac87;
}

a:active {
color: #7eac87;
}

a:focus {
color: #7eac87;
}

a.select:link {
color: #333;
}

a.select:visited {
color: #333;
}

a.select:hover {
color: peru;
}

a.select:active {
color: peru;
}

a.select:focus {
color: peru;
}

.heading {
    margin-bottom:5px;
}

.subtitle {
    color: #777777;
}