/* font import from my github */
@font-face {
    font-family: 'Helvetica Neue Roman';
    src: url('https://raw.githubusercontent.com/lokakrp/fonts/main/helvetica%20neue/HelveticaNeueRoman.otf') format('opentype');
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('https://raw.githubusercontent.com/lokakrp/fonts/main/helvetica%20neue/HelveticaNeueBold.otf') format('opentype');
}

/* reset for body margin and padding */
body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue Roman', Helvetica, Arial, sans-serif;
    background-color: #fffff0;
    text-align: center;
}

/* title styling with Helvetica Neue Black */
h1 {
    font-size: 45px;
    margin-top: 200px;
    color: #333;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* image styling */
.center-image {
    width: 300px;
    height: auto;
    margin-top: 20px;
}

/* nav menu styling */
.nav-links {
    margin-top: 20px;
    display: inline-block;
}

    .nav-links a {
        text-decoration: none;
        color: #0066cc;
        font-size: 18px;
        padding: 10px;
        transition: color 0.3s;
        font-family: 'Helvetica Neue Roman', Helvetica, Arial, sans-serif;
    }

        .nav-links a:hover {
            text-decoration: underline;
            color: #aa74b8;
        }

/* hides audio controls */
audio {
    display: none; /* hides audio controls */
}

/* additional styling for the timer */
#uk-time {
    margin-top: 4px; /* adjusted margin to bring it closer to the image */
    font-family: 'Helvetica Neue Roman', Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #333; /* slightly darker color for better readability */
}
